@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


.adv-article{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;

    &__logo{
        width: 2rem;
        margin-bottom: 3rem;
    }
 &__headline{
    margin-bottom: 3rem;
 }
    &__text{
        margin-top: auto;
opacity: 0.5;
    }
}